/* Colors */
.bg-color {
    background-color: hsl(256,33,10);
  }
  .dot-color {
    background-color: hsl(256,33,70);
  }
  
  /* Dimensions */
  .dot-size {
    height: 1px;
    width: 1px;
  }
  .dot-space {
    margin: 0 22px;
  }
  
  body {
    background: linear-gradient(90deg, #0a1933 21px, transparent 1%) center, 
                linear-gradient(#0a1933 21px, transparent 1%) center, 
                #4f5a9c;
    background-size: 22px 22px;
  }
  